<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - PersonCase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PersonCase</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Заметки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Note" asp-action="Add">Добавить заметку</a>
                </li>
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <span class="navbar-text mr-2">@User.Identity.Name</span>

                <form method="post" asp-controller="Account" asp-action="Logout" class="form-inline">

                    <input type="submit" class="btn btn-outline-dark" value="Выход"/>

                </form>
            }
            else
            {
                <a class="navbar-link text-dark mr-2" asp-controller="Account" asp-action="Login">Вход</a>
                <a class="navbar-link text-dark" asp-controller="Account" asp-action="Register">Регистрация</a>
            }
        </div>
    </nav>
</header>
<div class="container-fluid">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>